<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for :telephone, method: :post, url: phones_path, remote: true, html: {style: "display: inline;"} do |f| %>
        <div class="modal-body">
          <ul class="errors"></ul>
          <div class="form-group">
            <%= f.label :nome, class: "control-label" %>
            <%= f.text_field :nome, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :secretaria, class: "control-label" %>
            <%= f.collection_select :sec_id, @secretarias, :id, :name, {}, {id: 'sec_select', class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.label :departamento, class: "control-label" %>
            <%= f.collection_select :depto_id, @departamentos, :id, :name, {}, {id: 'depto_select', class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.label :setor, class: "control-label" %>
            <%= f.collection_select :setor_id, @setores, :id, :name, {}, {id: 'setor_select', class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.label :ddr, 'DDR', class: "control-label" %>
            <%= f.text_field :ddr, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :ramal, class: "control-label" %>
            <%= f.text_field :ramal, class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Salvar" ,class: "btn btn-primary" %>
          <%= link_to "Cancelar", "#", class: "btn", data: {dismiss: "modal"} %>
        </div>
    <% end %>
  </div>
</div>