<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for :telephone, method: :post, url: phones_path, remote: true, html: {style: "display: inline;"} do |f| %>
        <div class="modal-body">
          <ul class="errors"></ul>
          <div class="form-group">
            <%= f.label :person_name, 'Pessoa', class: "control-label" %>
            <%= f.text_field :person_name, id: 'person_field', class: 'form-control' %>
            <%= f.hidden_field :person_id %>
          </div>
          <div class="form-group">
            <%= f.label :sec_id, 'Secretaria', class: "control-label" %>
            <%= f.text_field :office, id: 'office_field', class: 'form-control' %>
            <%= f.hidden_field :office_id %>
          </div>
          <div class="form-group">
            <%= f.label :dept_id, 'Departamento', class: "control-label" %>
            <%= f.text_field :dept, id: 'dept_field', class: 'form-control' %>
            <%= f.hidden_field :dept_id %>
          </div>
          <div class="form-group">
            <%= f.label :sector_id, 'Setor', class: "control-label" %>
            <%= f.text_field :sector, id: 'sector_field', class: 'form-control' %>
            <%= f.hidden_field :sector_id %>
          </div>
          <div class="form-group">
            <%= f.label :ddr, 'DDR', class: "control-label" %>
            <%= f.text_field :ddr, class: "form-control phone-masked" %>
          </div>
          <div class="form-group">
            <%= f.label :ramal, class: "control-label" %>
            <%= f.text_field :ramal, class: "form-control branch-masked" %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Salvar", class: "btn btn-primary" %>
          <%= link_to "Cancelar", "#", class: "btn", data: {dismiss: "modal"} %>
        </div>
    <% end %>
  </div>
</div>