<% if phone.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% phone.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="container">
  <%= form_for @phone, html: {style: "display: inline;", class: 'form-horizontal'} do |f| %>

      <%= f.fields_for :person do |person_form| %>
          <div class="form-group">
            <%= person_form.label :name, class: "control-label col-sm-2" %>
            <div class="col-sm-8">
              <%= person_form.text_field :name, id: 'person_field', class: 'form-control', placeholder: 'Ex: Fulano Ciclano' %>
            </div>
            <%= person_form.hidden_field :id %>
          </div>
      <% end %>

      <%= f.fields_for :division do |sector_form| %>
          <%= sector_form.fields_for :parent_division do |dept_form| %>
              <%= dept_form.fields_for :parent_division do |office_form| %>
                  <div class="form-group">
                    <%= office_form.label :name, (t 'sec_office'), class: "control-label col-sm-2" %>
                    <div class="col-sm-8">
                      <%= office_form.text_field :name, id: 'office_field', class: 'form-control', placeholder: 'Ex: Secretaria de Administração' %>
                    </div>
                    <%= office_form.hidden_field :id %>
                  </div>
              <% end %>
              <div class="form-group">
                <%= dept_form.label :name, (t 'department'), class: "control-label col-sm-2" %>
                <div class="col-sm-8">
                  <%= dept_form.text_field :name, id: 'dept_field', class: 'form-control', placeholder: 'Ex: Tecnologia da Informação' %>
                </div>
                <%= dept_form.hidden_field :id %>
              </div>
          <% end %>
          <div class="form-group">
            <%= sector_form.label :name, (t 'sector'), class: "control-label col-sm-2" %>
            <div class="col-sm-8">
              <%= sector_form.text_field :name, id: 'sector_field', class: 'form-control', placeholder: 'Ex: Infraestrutura de Redes' %>
            </div>
            <%= sector_form.hidden_field :id %>
          </div>
      <% end %>

      <div class="form-group">
        <%= f.label :ddr, class: "control-label col-sm-2" %>
        <div class="col-sm-8">
          <%= f.text_field :ddr, id: 'ddr_field', class: "form-control phone-masked", placeholder: 'Ex: (16) 3209 3313' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :branch, class: "control-label col-sm-2" %>
        <div class="col-sm-8">
          <%= f.text_field :branch, id: 'branch_field', class: "form-control branch-masked", placeholder: 'Ex: 3313' %>
        </div>
      </div>

      <button type="submit" class="btn btn-success btn-lg col-sm-offset-2">
        <span class="glyphicon glyphicon-ok"></span>
        <%= t 'view.phone.form.save_phone' %>
      </button>
      <%= link_to (t 'cancel'), root_url %>
  <% end %>
</div>
