<% if phone.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% phone.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="container">
  <%= form_for :telephone, method: :post, url: phones_path, html: {style: "display: inline;", class: 'form-horizontal'} do |f| %>
      <div class="form-group">
        <%= f.label :person_name, 'Pessoa:', class: "control-label col-sm-2" %>
        <div class="col-sm-8">
          <%= f.text_field :person_name, id: 'person_field', class: 'form-control', placeholder: 'Ex: Fulano Ciclano' %>
        </div>
        <%= f.hidden_field :person_id %>
      </div>
      <div class="form-group">
        <%= f.label :sec_id, 'Secretaria:', class: "control-label col-sm-2" %>
        <div class="col-sm-8">
          <%= f.text_field :office, id: 'office_field', class: 'form-control', placeholder: 'Ex: Secretaria de Administração' %>
        </div>
        <%= f.hidden_field :office_id %>
      </div>
      <div class="form-group">
        <%= f.label :dept_id, 'Departamento:', class: "control-label col-sm-2" %>
        <div class="col-sm-8">
          <%= f.text_field :dept, id: 'dept_field', class: 'form-control', placeholder: 'Ex: Tecnologia da Informação' %>
        </div>
        <%= f.hidden_field :dept_id %>
      </div>
      <div class="form-group">
        <%= f.label :sector_id, 'Setor:', class: "control-label col-sm-2" %>
        <div class="col-sm-8">
          <%= f.text_field :sector, id: 'sector_field', class: 'form-control', placeholder: 'Ex: Infraestrutura de Redes' %>
        </div>
        <%= f.hidden_field :sector_id %>
      </div>
      <div class="form-group">
        <%= f.label :ddr, 'DDR:' , class: "control-label col-sm-2" %>
        <div class="col-sm-8">
          <%= f.text_field :ddr, id: 'ddr_field', class: "form-control phone-masked", placeholder: 'Ex: (16) 3209 3313' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :ramal, 'Ramal:', class: "control-label col-sm-2" %>
        <div class="col-sm-8">
          <%= f.text_field :ramal, id: 'branch_field', class: "form-control branch-masked", placeholder: 'Ex: 3313' %>
        </div>
      </div>

      <button type="submit" class="btn btn-success btn-lg col-sm-offset-2">
        <span class="glyphicon glyphicon-ok"></span>
        Salvar
      </button>
      <%= link_to "Cancelar", root_url, class: "btn", data: {dismiss: "modal"} %>
  <% end %>
</div>
