<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><%= t 'phone' %></h4>
    </div>
    <div class="modal-body">
      <div class="media">
        <div class="media-left media-bottom">
          <%= image_tag 'person.png', width: 50 %>
        </div>
        <div class="media-body">
          <h2><%= @phone.person.name %></h2>
        </div>
      </div>
      <div class="media">
        <div class="media-left media-middle">
          <%= image_tag 'phone.png', width: 50 %>
        </div>
        <div class="media-body">
          <h3><%= @phone.ddr %></h3>
          <h4><%= @phone.ramal %></h4>
        </div>
      </div>
      <hr style="border-color: black"/>

      <h4>
        <small><%= t 'sec_office' %></small>
        <br/>
        <%= @phone.office.name %>
      </h4>
      <h4>
        <small><%= t 'department' %></small>
        <br/>
        <%= @phone.department.name %>
      </h4>
      <h4>
        <small><%= t 'sector' %></small>
        <br/>
        <%= @phone.sector.name %>
      </h4>
    </div>
    <% if logged_in? %>
        <div class="modal-footer">
          <%= link_with_icon((t 'edit'), edit_phone_path(@phone), 'glyphicon-edit', {class: 'btn btn-primary'}) %>
          <%= link_with_icon((t 'destroy'), phone_delete_path(@phone), 'glyphicon-trash', {'data-remote' => true, class: 'btn btn-danger'}) %>
        </div>
    <% end %>
  </div>
</div>
