<div class="col-xs-12 container card" style="border-top-style: solid; border-top-width: 1px; border-top-color: lightgrey; padding: 10px">
  <div class="col-xs-12">
    <h3><%= person.name %></h3>
  </div>
  <div class="col-xs-12">
    <h4>
      <% person.phones.each_with_index do |phone, index| %>
          <a href="#"><%= "#{phone.ddr}" if phone.ddr %></a>
          <% if phone.branch %>
              - <a href="#"><%= phone.branch %></a>
          <% end %>
          <%= '/' unless index == person.phones.size - 1 %>
      <% end %>
    </h4>
  </div>
  <div class="col-xs-12">
    <h5>
      <% person.divisions.each_with_index do |division, index| %>
          <a href="#"><%= division.name %></a>
          <%= "/" unless index == person.phones.size - 1 %>
      <% end %>
    </h5>
  </div>
</div>