<div class="col-xs-12 container card" style="border-top-style: solid; border-top-width: 1px; border-top-color: lightgrey; padding: 10px">
  <div class="col-xs-12">
    <h3><%= person.name %></h3>
  </div>
  <div class="col-xs-12">
    <h4>
      <% person.phones.each_with_index do |phone, index| %>
          <%= link_to phone.ddr, "#" if phone.ddr %>
          <%= "-" if phone.ddr and phone.branch %>
          <%= link_to phone.branch, "#" if phone.branch %>
          <%= '/' unless index == person.phones.size - 1 %>
      <% end %>
    </h4>
  </div>
  <div class="col-xs-12">
    <h5>
      <% person.divisions.each_with_index do |division, index| %>
          <%= link_to division.name, search_divisions_path(division) %>
          <%= "/" unless index == person.phones.size - 1 %>
      <% end %>
    </h5>
  </div>
</div>