<div class="tab-content">
  <div id="phones" class="tab-pane fade <%= 'in active' if @active_class == Phone %>">
    <% @phones.each do |item| %>
        <%= render 'search/phone', phone: item if item.class == Phone %>
    <% end %>
  </div>
  <div id="people" class="tab-pane fade <%= 'in active' if @active_class == Person %>">
    <% @people.each do |item| %>
        <%= render 'search/person', person: item if item.class == Person %>
    <% end %>
  </div>
  <div id="divisions" class="tab-pane fade <%= 'in active' if @active_class == Division %>">
    <% @divisions.each do |item| %>
        <%= render 'search/division', division: item if item.class == Division %>
    <% end %>
  </div>
</div>