<%= content_for :header_title, (t 'view.user.header') %>

<h2><%= t 'view.user.header_index' %></h2>

<%= link_with_icon (t 'new'), new_user_path, 'glyphicon-plus', {class: 'btn btn-default btn-lg'} %>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th><%= User.human_attribute_name('name') %></th>
      <th><%= User.human_attribute_name('admin') %></th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody id="user_rows">
    <%= render @users %>
    </tbody>
  </table>
</div>

<div class="modal fade" id="user_modal" role="dialog"></div>
