<h1>Users</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th><%= User.human_attribute_name('name') %></th>
      <th><%= User.human_attribute_name('admin') %></th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= t user.admin %></td>
          <td>
            <%= link_with_icon((t 'edit'), edit_user_path(user), 'glyphicon-edit', {class: 'btn btn-primary'}) %>
          </td>
          <td>
            <%= link_with_icon((t 'destroy'), user_path(user), 'glyphicon-minus',
                               {'data-method' => :delete,
                                class: 'btn btn-danger',
                                data: {confirm: 'Tem certeza?'}}) %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>


<br>

<%= link_to 'New User', new_user_path %>
