<div class="container" style="height: 100px">
  <table>
    <tr>
      <td>
        <div>
          <a href="<%= root_url %>">
            <%= image_tag "BrasaoJaboticabal.svg.png", style: "padding: 15px; width: 100px" %>
          </a>
        </div>
      </td>
      <td>
        <span style="font-size: 2vmin; font-weight: bold;">
          <%= t 'phone_book' %>
        </span>
        <br/>
        <span style="font-size: 3vmin; font-weight: bold;"><%= t 'city_hall' %></span>
        <br/>
        <span style="font-size: 2.5vmin;">
          <%= yield :header_title %>
        </span>
      </td>
    </tr>
  </table>
</div>



<%= render 'layouts/navbar' %>


