<!DOCTYPE html>
<html>
<head>
  <title>
    <%= "#{(t 'phone_book')} - #{(t 'city_hall')}" %>
  </title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag %>
  <%= favicon_link_tag 'BrasaoJaboticabal.png', rel: 'apple-touch-icon', type: 'image/png' %>
</head>

<body>
<div class="wrapper">
  <%= render 'layouts/header' %>
  <main class="container">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </main>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
